//###############################################################
// GRID                                                        ##
//###############################################################

.row
    margin-left         auto
    margin-right        auto
    margin-top          0
    margin-bottom       0
    width               100%
    *zoom               1

.row:before
.row:after
.row .row:before
.row .row:after
    content             ' '
    display             table

.row:after 
.row .row:after
    clear               both

.row .row
    // px-rem( margin, 0 -8 )
    padding             0 !important 
    max-width           none
    width               auto
    *zoom               1

// # `$column` Extendable Selector, doesn't show up in the Compiled CSS
$column
    float               left
    min-height          1px
    padding-left        0
    padding-right       0
    position            relative

$column-content-last
    padding-left        0 
    padding-right       0

.row-inflated 
.col-inflated
    height              100%

.col-content
    border 4px solid site-color-debug if debug-mode
    height              100%
    position            relative
    width               100%

.col-content.padded-zero
    padding             0 

 .col-content.padded
    px-rem( padding, 0 16 ) 
 
column-content-last( phone tablet laptop desktop, 12 )
columns( phone tablet laptop desktop, 12 )
column-width( phone, 12 )
