//###############################################################
// MOLECULES                                                   ##
//###############################################################

.vcard
	display             block

.header-group
	color               font-color-primary  
	px-rem( padding, 8 0 )

// NOTIFICATIONS

.notification
	display             block
	overflow            hidden
	border-radius( 3px )
	px-rem( padding, 8 )
	px-rem( margin, 8 0 )

.notification span
.notification .button
	color               inherit

.notification.state-error
	a.button
		box-shadow( 0 1px 0 @color )

	background-color    site-color-error 
	border              1px solid darken( @background-color, 10% )
	check-color( color, @background-color, 25 )


.notification.state-warning
	a.button
		box-shadow( 0 1px 0 @color )

	background-color    site-color-warning 
	border              1px solid darken( @background-color, 10% )
	check-color( color, @background-color,  25 )

.notification.state-success
	a.button
		box-shadow( 0 1px 0 @color )

	background-color    site-color-success
	border              1px solid darken( @background-color, 10% )
	check-color( color, @background-color, 25 )
	 
	  
// NAVIGATION

.navigation:not( .state-centered )
.navigation:not( .state-centered ) ul
.navigation-tabs:not( .state-centered ) 
	overflow            hidden 

.navigation li 
	float               left

.navigation:not( .state-centered ) li a
.navigation-tabs li a 
	display             block
	px-rem( padding, 8 )

.navigation li a
	color               font-color-primary

.navigation li a:not(.model-underline):hover
.navigation li a:not(.model-underline).is-active
	color               lighten( font-color-primary, 80% )

.navigation li a.model-underline:hover span 
.navigation li a.model-underline.is-active span 
	box-shadow( 0 2px 0 font-color-primary )

.navigation ul.state-stacked li
.navigation.state-centered ul li
	float              	none

.navigation ul.state-stacked li a
	px-rem( padding, 4 0 )

.navigation.state-centered ul 
.navigation.state-centered ul li
	margin				0 
	padding             0 

.navigation.state-centered
	width				100%                 

.navigation.state-centered ul
	text-align			center 

.navigation.state-centered ul li
	display				inline-block

.navigation-tabs ul
	display             table
	width               100% 

.navigation-tabs li
	border-right        1px solid site-color-secondary 
	display             table-cell
	text-align          center

.navigation-tabs li:last-child
	border-right        0

.navigation-tabs ul.state-stacked 
.navigation-tabs ul.state-stacked li
	display             block

.navigation-tabs ul.state-stacked li
	border              0
	border-bottom       1px solid site-color-secondary
	
.navigation-tabs ul.state-stacked li:last-child
	border-bottom       0

.navigation-tabs li a 
	background-color    site-color-tertiary 
	color               font-color-secondary

.navigation-tabs li a:hover
.navigation-tabs li a.is-active
	background-color    site-color-primary

// UL LIST TABULAR DATA

ul.list-table
ul.list-table li
	display             block 
	overflow            hidden 
	width               100%

ul.list-table
	px-rem( margin, 8 0 )

ul.list-table li.list-row
	height              auto
	px-rem( padding, 8 0 )

ul.list-table section.list-cell
	height              100% 

