//###############################################################
// VARS														   ##
//###############################################################

// Turn of debugging elements 
// -- -- -- -- -- -- -- -- -- -- -- --  
debug-mode                     =  false
// -- -- -- -- -- -- -- -- -- -- -- --  

import-fonts                   =  url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Noto+Serif:400,700,400italic,700italic')

device-width-phone-both 	   = 'only screen and ( min-width : 320px ) and ( max-width : 767px )' 
device-width-phone-landscape   = 'only screen and ( min-device-width : 320px ) and ( max-device-width : 568px ) and ( orientation : landscape )'
device-width-phone-portrait    = 'only screen and ( min-device-width : 320px ) and ( max-device-width : 568px ) and ( orientation : portrait )'   
device-width-tablet-both 	   = 'only screen and ( min-width : 768px ) and ( max-width : 1024px )' 
evice-width-tablet-landscape   = 'only screen and ( min-device-width : 768px ) and ( max-device-width : 1024px ) and ( orientation : landscape )'
device-width-tablet-portrait   = 'only screen and ( min-device-width : 768px ) and ( max-device-width : 1024px ) and ( orientation : portrait )'   
device-width-laptop		       = 'only screen and ( min-width : 1025px ) and ( max-width : 1600px )'   
device-width-desktop		   = 'only screen and ( min-width : 1600px )'   

font-size-base 			       = unit( 1, rem )
font-size-scale 		       = 1.25 

font-color-primary 		       = #82858C
font-color-secondary 	       = #E51E26
font-color-tertiary            = #FFFFFF
font-color-primaryLight        = #FFB2B5

font-style-italic 		       = italic 	
font-weight-normal 		       = 400
font-weight-bold 		       = 700

font-family-primary 	       =  'MyriadPro-Regular', Helvetica, sans-serif
font-family-bold	           =  'MyriadPro-Bold', Helvetica, sans-serif
font-family-semiBold           =  'MyriadPro-Semibold', Helvetica, sans-serif
font-family-light              =  'MyriadPro-Light', Helvetica, sans-serif

site-color-debug               = #AAA
site-color-primary 		       = #E51E26
site-color-secondary 	       = #E3E2DE
site-color-tertiary		       = #82858C

site-color-disabled		       = #EEE
site-color-error 		       = red
site-color-success 		       = green
site-color-warning 		       = orange

set-border-properties-01        = 1px solid rgba( 0, 0, 0, .10 )

value-header-height            = 115
value-footer-height            = 72

value-headerFixed-height       = 83

value-mod-excerpt              = 25
value-nav-icon-height          = 18 
value-nav-icon-width           = 24
value-nav-icon-border          = 2

value-header-zindex            = 2000

show-for                       = '.show-for'
hide-for                       = '.hide-for'

snap                            = cubic-bezier( 0, 1, .5, 1 )
snap-2                          = cubic-bezier( 0.185, 0.890, 0.35, 1.280 )
ease-in-quad                    = cubic-bezier( 0.550,  0.085, 0.680, 0.530 )
ease-in-cubic                   = cubic-bezier( 0.550,  0.055, 0.675, 0.190 )
ease-in-quart                   = cubic-bezier( 0.895,  0.030, 0.685, 0.220 )
ease-in-quint                   = cubic-bezier( 0.755,  0.050, 0.855, 0.060 )
ease-in-sine                    = cubic-bezier( 0.470,  0.000, 0.745, 0.715 )
ease-in-expo                    = cubic-bezier( 0.950,  0.050, 0.795, 0.035 )
ease-in-circ                    = cubic-bezier( 0.600,  0.040, 0.980, 0.335 )
ease-in-back                    = cubic-bezier( 0.600, -0.280, 0.735, 0.045 )
ease-out-quad                   = cubic-bezier( 0.250,  0.460, 0.450, 0.940 )
ease-out-cubic                  = cubic-bezier( 0.215,  0.610, 0.355, 1.000 )
ease-out-quart                  = cubic-bezier( 0.165,  0.840, 0.440, 1.000 )
ease-out-quint                  = cubic-bezier( 0.230,  1.000, 0.320, 1.000 )
ease-out-sine                   = cubic-bezier( 0.390,  0.575, 0.565, 1.000 )
ease-out-expo                   = cubic-bezier( 0.190,  1.000, 0.220, 1.000 )
ease-out-circ                   = cubic-bezier( 0.075,  0.820, 0.165, 1.000 )
ease-out-back                   = cubic-bezier( 0.175,  0.885, 0.320, 1.275 )
ease-in-out-quad                = cubic-bezier( 0.455,  0.030, 0.515, 0.955 )
ease-in-out-cubic               = cubic-bezier( 0.645,  0.045, 0.355, 1.000 )
ease-in-out-quart               = cubic-bezier( 0.770,  0.000, 0.175, 1.000 )
ease-in-out-quint               = cubic-bezier( 0.860,  0.000, 0.070, 1.000 )
ease-in-out-sine                = cubic-bezier( 0.445,  0.050, 0.550, 0.950 )
ease-in-out-expo                = cubic-bezier( 1.000,  0.000, 0.000, 1.000 )
ease-in-out-circ                = cubic-bezier( 0.785,  0.135, 0.150, 0.860 )
ease-in-out-back                = cubic-bezier( 0.680, -0.550, 0.265, 1.550 )