.row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  *zoom: 1;
}
.row:before,
.row:after,
.row .row:before,
.row .row:after {
  content: ' ';
  display: table;
}
.row:after,
.row .row:after {
  clear: both;
}
.row .row {
  max-width: none;
  width: auto;
  *zoom: 1;
}
.column-content {
  border: 4px solid site-color-debug;
  height: 100%;
  position: relative;
  width: 100%;
}
