@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Noto+Serif:400,700,400italic,700italic");
@import 'normalize.css';
h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:1.45;margin:0}
h1{font-size:39.0625px;font-size:2.441rem}
h2{font-size:31.25px;font-size:1.953rem}
h3{font-size:25px;font-size:1.563rem}
h4{font-size:20px;font-size:1.25rem}
h5,h6,p,pre,ol,ul,dl,blockquote,figure,figcaption{font-size:1rem}
a,a:hover,a:visited{text-decoration:none}
b{font-weight:inherit}
em,i{font-style:italic}
strong{font-weight:700}
ol,ul{list-style-type:none;margin:0;padding:0}
img,object,embed{max-width:100%;height:auto}
object,embed{height:100%}
img{-ms-interpolation-mode:bicubic}
table{border-collapse:collapse;border-spacing:0;border:1px solid #000;width:100%}
td{border:1px solid #000;padding:16px;padding:1rem}
.clear-fix{*zoom:1}
.clear-fix:before,.clear-fix:after{content:' ';display:table}
.clear-fix:after{clear:both}
.truncate{overflow:hidden;-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;text-overflow:ellipsis;width:100%;white-space:nowrap}
.make-centered{float:none !important;margin-left:auto !important;margin-right:auto !important}
.button{display:inline-block}
.button.model-natural{background-color:#000;color:#fff;padding:8px 20px 8px 20px;padding:0.5rem 1.25rem 0.5rem 1.25rem}
.button.model-text{-webkit-box-shadow:0 1px 0 #000;-moz-box-shadow:0 1px 0 #000;-ms-box-shadow:0 1px 0 #000;-o-box-shadow:0 1px 0 #000;box-shadow:0 1px 0 #000}
.model-natural:hover{background-color:#404040}
.model-text:hover{-webkit-box-shadow:0 1px 0 transparent;-moz-box-shadow:0 1px 0 transparent;-ms-box-shadow:0 1px 0 transparent;-o-box-shadow:0 1px 0 transparent;box-shadow:0 1px 0 transparent}
.button.state-expanded{text-align:center;width:100%}
.model-natural.state-disabled{background-color:#eee;color:#b3b3b3}
fieldset{border:0;margin:0;padding:0}
label{display:block;padding-bottom:4px;padding-bottom:.25rem}
input,textarea,select{font-family:inherit;font-size:inherit}
input.model-text,input.model-search,input.model-url,input.model-email,input.model-number,textarea{-webkit-appearance:none}
input.model-text,input.model-search,input.model-url,input.model-email,input.model-number,input.model-color,input.model-range,input.model-date,input.model-month,input.model-week,input.model-datetime,textarea{border:1px solid #000;width:100%;padding:4px;padding:.25rem}
input.model-color{padding:0}
input:disabled,textarea:disabled,input.state-disabled,textarea.state-disabled{border-color:#eee}
input.state-error,textarea.state-error{border-color:#f00}
input.state-success,textarea.state-success{border-color:#008000}
input.state-warning,textarea.state-warning{border-color:#ffa500}
input.model-checkbox,input.model-radio{width:auto;margin-right:4px;margin-right:.25rem}
.field-container{margin-bottom:16px;margin-bottom:1rem}
html.no-touch .show-for-touch,html.touch .hide-for-touch{display:none !important}
html.no-touch .hide-for-touch,html.touch .show-for-touch{display:inherit !important}
.vcard{display:block}
.header-group{color:#000;padding:8px 0px;padding:0.5rem 0rem}
.notification{display:block;overflow:hidden;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:8px;padding:.5rem;margin:8px 0px;margin:0.5rem 0rem}
.notification span,.notification .button{color:inherit}
.notification.state-error{background-color:#f00;border:1px solid #e60000;color:#800000}
.notification.state-error a.button{-webkit-box-shadow:0 1px 0;-moz-box-shadow:0 1px 0;-ms-box-shadow:0 1px 0;-o-box-shadow:0 1px 0;box-shadow:0 1px 0}
.notification.state-warning{background-color:#ffa500;border:1px solid #e69500;color:#805300}
.notification.state-warning a.button{-webkit-box-shadow:0 1px 0;-moz-box-shadow:0 1px 0;-ms-box-shadow:0 1px 0;-o-box-shadow:0 1px 0;box-shadow:0 1px 0}
.notification.state-success{background-color:#008000;border:1px solid #007300;color:#00e000}
.notification.state-success a.button{-webkit-box-shadow:0 1px 0;-moz-box-shadow:0 1px 0;-ms-box-shadow:0 1px 0;-o-box-shadow:0 1px 0;box-shadow:0 1px 0}
.navigation,.navigation-tabs{overflow:hidden}
.navigation li{float:left}
.navigation li a,.navigation-tabs li a{display:block;padding:8px;padding:.5rem}
.navigation li a{color:#000}
.navigation li a:not(.model-underline):hover,.navigation li a:not(.model-underline).is-active{color:#ccc}
.navigation li a.model-underline:hover span,.navigation li a.model-underline.is-active span{-webkit-box-shadow:0 2px 0 #000;-moz-box-shadow:0 2px 0 #000;-ms-box-shadow:0 2px 0 #000;-o-box-shadow:0 2px 0 #000;box-shadow:0 2px 0 #000}
.navigation ul.state-stacked li{float:none}
.navigation ul.state-stacked li a{padding:4px 0px;padding:0.25rem 0rem}
.navigation-tabs ul{display:table;width:100%}
.navigation-tabs li{border-right:1px solid #fff;display:table-cell;text-align:center}
.navigation-tabs li:last-child{border-right:0}
.navigation-tabs ul.state-stacked,.navigation-tabs ul.state-stacked li{display:block}
.navigation-tabs ul.state-stacked li{border:0;border-bottom:1px solid #fff}
.navigation-tabs ul.state-stacked li:last-child{border-bottom:0}
.navigation-tabs li a{background-color:#999;color:#fff}
.navigation-tabs li a:hover,.navigation-tabs li a.is-active{background-color:#000}
ul.list-table,ul.list-table li{display:block;overflow:hidden;width:100%}
ul.list-table{margin:8px 0px;margin:0.5rem 0rem}
ul.list-table li.list-row{height:auto;padding:8px 0px;padding:0.5rem 0rem}
ul.list-table section.list-cell{height:100%}
html,html *,html *:before,html *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
html{color:#000;font-family:'Noto Sans',Helvetica,sans-serif;font-size:1rem;font-weight:400}
html,body{height:100%}
#site-root{min-height:100%;height:auto !important;height:100%;margin:0px auto -96px;margin:0rem auto -6rem;padding-top:96px;padding-top:6rem}
#site-root.unless-fixed{padding-top:0}
#site-header{background:#aaa;height:96px;height:6rem;width:100%}
#site-header.state-fixed{position:fixed;z-index:2000}
#site-header.state-relative{position:relative}
#site-header.state-absolute{position:absolute;z-index:2000}
#site-footer{background:#aaa;height:96px;height:6rem;position:relative;width:100%}
.site-parent{padding:50px 0px;padding:3.125rem 0rem;margin:0px 50px;margin:0rem 3.125rem}
.site-parent,.site-child{height:100%;overflow:hidden}
.site-child{overflow:hidden;position:relative;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;width:auto !important}
.row{margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;width:100%;*zoom:1}
.row:before,.row:after,.row .row:before,.row .row:after{content:' ';display:table}
.row:after,.row .row:after{clear:both}
.row .row{max-width:none;width:auto;*zoom:1}
.col-phone-1,.col-phone-2,.col-phone-3,.col-phone-4,.col-phone-5,.col-phone-6,.col-phone-7,.col-phone-8,.col-phone-9,.col-phone-10,.col-phone-11,.col-phone-12,.col-tablet-1,.col-tablet-2,.col-tablet-3,.col-tablet-4,.col-tablet-5,.col-tablet-6,.col-tablet-7,.col-tablet-8,.col-tablet-9,.col-tablet-10,.col-tablet-11,.col-tablet-12,.col-laptop-1,.col-laptop-2,.col-laptop-3,.col-laptop-4,.col-laptop-5,.col-laptop-6,.col-laptop-7,.col-laptop-8,.col-laptop-9,.col-laptop-10,.col-laptop-11,.col-laptop-12,.col-desktop-1,.col-desktop-2,.col-desktop-3,.col-desktop-4,.col-desktop-5,.col-desktop-6,.col-desktop-7,.col-desktop-8,.col-desktop-9,.col-desktop-10,.col-desktop-11,.col-desktop-12{float:left;min-height:1px;padding-left:0;padding-right:0;position:relative}
.column-content{border:4px solid #aaa;height:100%;position:relative;width:100%}
.col-phone-1{width:8.333333333333332%}
.col-phone-2{width:16.666666666666664%}
.col-phone-3{width:25%}
.col-phone-4{width:33.33333333333333%}
.col-phone-5{width:41.66666666666667%}
.col-phone-6{width:50%}
.col-phone-7{width:58.333333333333336%}
.col-phone-8{width:66.66666666666666%}
.col-phone-9{width:75%}
.col-phone-10{width:83.33333333333334%}
.col-phone-11{width:91.66666666666666%}
.col-phone-12{width:100%}
.column-content{padding:8px;padding:.5rem}
@media only screen and ( min-width : 320px ) and ( max-width : 768px ){.site-parent{padding:50px 0px;padding:3.125rem 0rem;margin:0px 50px;margin:0rem 3.125rem}
.site-child,.row{max-width:960px;max-width:60rem}
.show-for-tablet{display:inherit !important}
.show-for-laptop{display:inherit !important}
.show-for-desktop{display:inherit !important}
.hide-for-phone{display:none !important}
}@media only screen and ( min-width : 768px ) and ( max-width : 1024px ){.site-parent{padding:50px 0px;padding:3.125rem 0rem;margin:0px 50px;margin:0rem 3.125rem}
.site-child,.row{max-width:960px;max-width:60rem}
.col-tablet-1{width:8.333333333333332%}
.col-tablet-2{width:16.666666666666664%}
.col-tablet-3{width:25%}
.col-tablet-4{width:33.33333333333333%}
.col-tablet-5{width:41.66666666666667%}
.col-tablet-6{width:50%}
.col-tablet-7{width:58.333333333333336%}
.col-tablet-8{width:66.66666666666666%}
.col-tablet-9{width:75%}
.col-tablet-10{width:83.33333333333334%}
.col-tablet-11{width:91.66666666666666%}
.col-tablet-12{width:100%}
.col-tablet-push-1{margin-left:8.333333333333332%}
.col-tablet-push-2{margin-left:16.666666666666664%}
.col-tablet-push-3{margin-left:25%}
.col-tablet-push-4{margin-left:33.33333333333333%}
.col-tablet-push-5{margin-left:41.66666666666667%}
.col-tablet-push-6{margin-left:50%}
.col-tablet-push-7{margin-left:58.333333333333336%}
.col-tablet-push-8{margin-left:66.66666666666666%}
.col-tablet-push-9{margin-left:75%}
.col-tablet-push-10{margin-left:83.33333333333334%}
.col-tablet-push-11{margin-left:91.66666666666666%}
.col-tablet-push-12{margin-left:100%}
.col-tablet-pull-1{margin-right:8.333333333333332%}
.col-tablet-pull-2{margin-right:16.666666666666664%}
.col-tablet-pull-3{margin-right:25%}
.col-tablet-pull-4{margin-right:33.33333333333333%}
.col-tablet-pull-5{margin-right:41.66666666666667%}
.col-tablet-pull-6{margin-right:50%}
.col-tablet-pull-7{margin-right:58.333333333333336%}
.col-tablet-pull-8{margin-right:66.66666666666666%}
.col-tablet-pull-9{margin-right:75%}
.col-tablet-pull-10{margin-right:83.33333333333334%}
.col-tablet-pull-11{margin-right:91.66666666666666%}
.col-tablet-pull-12{margin-right:100%}
.show-for-phone{display:inherit !important}
.show-for-laptop{display:inherit !important}
.show-for-desktop{display:inherit !important}
.hide-for-tablet{display:none !important}
}@media only screen and ( min-width : 1025px ) and ( max-width : 1440px ){.site-parent{padding:50px 0px;padding:3.125rem 0rem;margin:0px 50px;margin:0rem 3.125rem}
.site-child,.row{max-width:960px;max-width:60rem}
.col-laptop-1{width:8.333333333333332%}
.col-laptop-2{width:16.666666666666664%}
.col-laptop-3{width:25%}
.col-laptop-4{width:33.33333333333333%}
.col-laptop-5{width:41.66666666666667%}
.col-laptop-6{width:50%}
.col-laptop-7{width:58.333333333333336%}
.col-laptop-8{width:66.66666666666666%}
.col-laptop-9{width:75%}
.col-laptop-10{width:83.33333333333334%}
.col-laptop-11{width:91.66666666666666%}
.col-laptop-12{width:100%}
.show-for-phone{display:inherit !important}
.show-for-tablet{display:inherit !important}
.show-for-desktop{display:inherit !important}
.hide-for-laptop{display:none !important}
}@media only screen and ( min-width : 1441px ){.site-parent{padding:50px 0px;padding:3.125rem 0rem;margin:0px 50px;margin:0rem 3.125rem}
.site-child,.row{max-width:1224px;max-width:76.5rem}
.column-content{padding:8px;padding:.5rem}
.col-desktop-1{width:8.333333333333332%}
.col-desktop-2{width:16.666666666666664%}
.col-desktop-3{width:25%}
.col-desktop-4{width:33.33333333333333%}
.col-desktop-5{width:41.66666666666667%}
.col-desktop-6{width:50%}
.col-desktop-7{width:58.333333333333336%}
.col-desktop-8{width:66.66666666666666%}
.col-desktop-9{width:75%}
.col-desktop-10{width:83.33333333333334%}
.col-desktop-11{width:91.66666666666666%}
.col-desktop-12{width:100%}
.col-desktop-push-1{margin-left:8.333333333333332%}
.col-desktop-push-2{margin-left:16.666666666666664%}
.col-desktop-push-3{margin-left:25%}
.col-desktop-push-4{margin-left:33.33333333333333%}
.col-desktop-push-5{margin-left:41.66666666666667%}
.col-desktop-push-6{margin-left:50%}
.col-desktop-push-7{margin-left:58.333333333333336%}
.col-desktop-push-8{margin-left:66.66666666666666%}
.col-desktop-push-9{margin-left:75%}
.col-desktop-push-10{margin-left:83.33333333333334%}
.col-desktop-push-11{margin-left:91.66666666666666%}
.col-desktop-push-12{margin-left:100%}
.col-desktop-pull-1{margin-right:8.333333333333332%}
.col-desktop-pull-2{margin-right:16.666666666666664%}
.col-desktop-pull-3{margin-right:25%}
.col-desktop-pull-4{margin-right:33.33333333333333%}
.col-desktop-pull-5{margin-right:41.66666666666667%}
.col-desktop-pull-6{margin-right:50%}
.col-desktop-pull-7{margin-right:58.333333333333336%}
.col-desktop-pull-8{margin-right:66.66666666666666%}
.col-desktop-pull-9{margin-right:75%}
.col-desktop-pull-10{margin-right:83.33333333333334%}
.col-desktop-pull-11{margin-right:91.66666666666666%}
.col-desktop-pull-12{margin-right:100%}
.show-for-phone{display:inherit !important}
.show-for-tablet{display:inherit !important}
.show-for-laptop{display:inherit !important}
.hide-for-desktop{display:none !important}
}